# This file is an example config file for linear delta style printers.
# One may copy and edit this file to configure a new delta printer.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# See docs/Config_Reference.md for a description of parameters.

# ================= Eris Repetier Specs ======================
#define DELTA_DIAGONAL_ROD 134.9  // 134.58 early measurement
#define DELTA_MAX_RADIUS 65  // max printable area allowed by firmware
#define PRINTER_RADIUS 98.38  //PRINTER_RADIUS-END_EFFECTOR_HORIZONTAL_OFFSET-CARRIAGE_HORIZONTAL_OFFSET
#define Z_MAX_LENGTH 175.0
#define END_EFFECTOR_HORIZONTAL_OFFSET 23.38
#define CARRIAGE_HORIZONTAL_OFFSET 10

[include mainsail.cfg]


#[include Display_macros.cfg]
#[include Display_config.cfg]
[include V0Display.cfg]
#[include menu.cfg]

[stepper_a]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: PC0
homing_speed: 80
#position_endstop: 190
#arm_length: 134.9

[tmc2209 stepper_a]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.8
#run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_b]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: PC1
homing_speed: 80

[tmc2209 stepper_b]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.8
#run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_c]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 40
endstop_pin: PC2
homing_speed: 80

[tmc2209 stepper_c]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.8
#run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[mcu]
serial: #insert USB serial ID here

[printer]
kinematics: delta
max_velocity: 100
max_accel: 500
max_z_velocity: 100
minimum_z_position=-5
#delta_radius: 65

[delta_calibrate]
radius: 50

[heater_fan extruder]
pin: PC6

[fan]
pin: PB15

[controller_fan extruder]
pin: PC7

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 64.914350
#*#
#*# [stepper_a]
#*# angle = 210.223311
#*# arm_length = 134.900000
#*# position_endstop = 188.003345
#*#
#*# [stepper_b]
#*# angle = 329.538410
#*# arm_length = 134.900000
#*# position_endstop = 185.081668
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 134.900000
#*# position_endstop = 186.740133
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.465
#*# pid_ki = 4.995
#*# pid_kd = 59.452
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 15041.000,14806.000,14939.000
#*# height1 = 0.0
#*# height1_pos = 17070.000,16847.000,13698.000
#*# height2 = 0.0
#*# height2_pos = 14748.000,18009.000,14641.000
#*# height3 = 0.0
#*# height3_pos = 13859.000,16485.000,16634.000
#*# height4 = 0.0
#*# height4_pos = 14689.000,14447.000,17148.000
#*# height5 = 0.0
#*# height5_pos = 16438.000,13700.000,16342.000
#*# height6 = 0.0
#*# height6_pos = 17716.000,14487.000,14608.000
